body {
  font-family: "Roboto Regular", sans-serif;
  background: #326e51;
}
@media (min-width: 960px) {
  body {
    background: #f2f1f6;
  }
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: auto;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: auto;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: auto;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: auto;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: auto;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: auto;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: auto;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: auto;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: auto;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-container {
  max-width: 1320px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 640px) {
  .uk-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .uk-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.uk__overlay, .uk-offcanvas-overlay:before, .uk-overlay-primary, .uk-modal {
  background: rgba(11, 11, 11, 0.8);
}
.uk-offcanvas-bar {
  background: #ffffff;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-14-xl {
    margin-left: -14px !important;
  }
  .uk-grid-14-xl > * {
    padding-left: 14px !important;
  }
  .uk-grid-14-xl > .uk-grid-margin {
    margin-top: 14px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-14-l {
    margin-left: -14px !important;
  }
  .uk-grid-14-l > * {
    padding-left: 14px !important;
  }
  .uk-grid-14-l > .uk-grid-margin {
    margin-top: 14px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-14-m {
    margin-left: -14px !important;
  }
  .uk-grid-14-m > * {
    padding-left: 14px !important;
  }
  .uk-grid-14-m > .uk-grid-margin {
    margin-top: 14px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-14-s {
    margin-left: -14px !important;
  }
  .uk-grid-14-s > * {
    padding-left: 14px !important;
  }
  .uk-grid-14-s > .uk-grid-margin {
    margin-top: 14px !important;
  }
}

.uk-grid-14 {
  margin-left: -14px;
}
.uk-grid-14 > * {
  padding-left: 14px;
}
.uk-grid-14 > .uk-grid-margin {
  margin-top: 14px;
}

@media (min-width: 1600px) {
  .uk-grid-15-xl {
    margin-left: -15px !important;
  }
  .uk-grid-15-xl > * {
    padding-left: 15px !important;
  }
  .uk-grid-15-xl > .uk-grid-margin {
    margin-top: 15px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-15-l {
    margin-left: -15px !important;
  }
  .uk-grid-15-l > * {
    padding-left: 15px !important;
  }
  .uk-grid-15-l > .uk-grid-margin {
    margin-top: 15px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-15-m {
    margin-left: -15px !important;
  }
  .uk-grid-15-m > * {
    padding-left: 15px !important;
  }
  .uk-grid-15-m > .uk-grid-margin {
    margin-top: 15px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-15-s {
    margin-left: -15px !important;
  }
  .uk-grid-15-s > * {
    padding-left: 15px !important;
  }
  .uk-grid-15-s > .uk-grid-margin {
    margin-top: 15px !important;
  }
}

.uk-grid-15 {
  margin-left: -15px;
}
.uk-grid-15 > * {
  padding-left: 15px;
}
.uk-grid-15 > .uk-grid-margin {
  margin-top: 15px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-11, .product__cartNumber, .product__star__txt, .product__gift, .product__countdown > *, .product__countdown {
  font-size: 11px !important;
}
@media screen and (min-width: 640px) {
  .fz-11, .product__cartNumber, .product__star__txt, .product__gift, .product__countdown > *, .product__countdown {
    font-size: calc(11px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-11, .product__cartNumber, .product__star__txt, .product__gift, .product__countdown > *, .product__countdown {
    font-size: 11px !important;
  }
}

.fz-12, .home__block__flashsale__header__countdown__number, .product__priceold, .header__mobile__cart__count, .header__pc__boxSearch__input, .header__pc__txtSearch > *, .top_bar_hasaki__btn {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .fz-12, .home__block__flashsale__header__countdown__number, .product__priceold, .header__mobile__cart__count, .header__pc__boxSearch__input, .header__pc__txtSearch > *, .top_bar_hasaki__btn {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-12, .home__block__flashsale__header__countdown__number, .product__priceold, .header__mobile__cart__count, .header__pc__boxSearch__input, .header__pc__txtSearch > *, .top_bar_hasaki__btn {
    font-size: 12px !important;
  }
}

.fz-13, .content_mobile__category__txt, .home__block__flashsale__header__txt, .home__block__flashsale__header__btnViewall, .home__bannerpc__category__txt, .product__percent, .product__brand, .product__name, .product__percent_deal, .header__pc__boxSuggest__category__txt, .header__pc__cart span, .header__pc__txt, .header__pc__boxLogin__txt, .top_bar_hasaki .uk-navbar-nav > li > a, .modal__acc__input, .modal__acc__select, .modal__acc__btnOtp {
  font-size: 13px !important;
}
@media screen and (min-width: 640px) {
  .fz-13, .content_mobile__category__txt, .home__block__flashsale__header__txt, .home__block__flashsale__header__btnViewall, .home__bannerpc__category__txt, .product__percent, .product__brand, .product__name, .product__percent_deal, .header__pc__boxSuggest__category__txt, .header__pc__cart span, .header__pc__txt, .header__pc__boxLogin__txt, .top_bar_hasaki .uk-navbar-nav > li > a, .modal__acc__input, .modal__acc__select, .modal__acc__btnOtp {
    font-size: calc(13px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-13, .content_mobile__category__txt, .home__block__flashsale__header__txt, .home__block__flashsale__header__btnViewall, .home__bannerpc__category__txt, .product__percent, .product__brand, .product__name, .product__percent_deal, .header__pc__boxSuggest__category__txt, .header__pc__cart span, .header__pc__txt, .header__pc__boxLogin__txt, .top_bar_hasaki .uk-navbar-nav > li > a, .modal__acc__input, .modal__acc__select, .modal__acc__btnOtp {
    font-size: 13px !important;
  }
}

.fz-14, .header__mobile__search .uk-search-input, .header__pc__boxSuggest__campain {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14, .header__mobile__search .uk-search-input, .header__pc__boxSuggest__campain {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14, .header__mobile__search .uk-search-input, .header__pc__boxSuggest__campain {
    font-size: 14px !important;
  }
}

.fz-15, .header__pc__boxLogin__txt--title, .header__pc__boxLogin__btnLogin {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15, .header__pc__boxLogin__txt--title, .header__pc__boxLogin__btnLogin {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15, .header__pc__boxLogin__txt--title, .header__pc__boxLogin__btnLogin {
    font-size: 15px !important;
  }
}

.fz-16, .product__price {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16, .product__price {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16, .product__price {
    font-size: 16px !important;
  }
}

.fz-18, .home__block__flashsale__header__title, .home__block__flashsale__header__countdown__separator {
  font-size: 16.2px !important;
}
@media screen and (min-width: 640px) {
  .fz-18, .home__block__flashsale__header__title, .home__block__flashsale__header__countdown__separator {
    font-size: calc(16.2px + 1.8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-18, .home__block__flashsale__header__title, .home__block__flashsale__header__countdown__separator {
    font-size: 18px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.modal__acc__dialog {
  width: 420px;
}
#modal-close-outside-forgotpass .modal__acc__dialog {
  width: 560px;
}
.modal__acc__body {
  padding: 15px 20px;
}
@media (min-width: 960px) {
  .modal__acc__close {
    transform: translate(50%, -50%);
    background: #666;
    width: 36px;
    height: 36px;
  }
}
.modal__acc__btnOtp {
  text-transform: inherit;
  background-color: #ff6600;
}
.modal__acc__checkbox:checked {
  background-color: #326e51;
}
.modal__acc__radio:checked {
  background-color: #326e51;
}
.modal__acc__input, .modal__acc__select {
  color: #555;
  border-color: #c2c2c2;
}
.modal__acc__input:focus, .modal__acc__select:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.modal__acc__input--code {
  padding-right: 82px !important;
}
.modal__acc__item:nth-child(n+2) {
  margin-top: 15px;
  padding-top: 15px;
  position: relative;
}
.modal__acc__item:nth-child(n+2):before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  left: calc(0px - 20px);
  right: calc(0px - 20px);
  display: block;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__120:nth-child(n+2) {
  margin-top: 120px;
}
.item__100:nth-child(n+2) {
  margin-top: 100px;
}
.item__80:nth-child(n+2) {
  margin-top: 80px;
}
.item__60:nth-child(n+2) {
  margin-top: 60px;
}
.item__50:nth-child(n+2) {
  margin-top: 50px;
}
.item__43:nth-child(n+2) {
  margin-top: 43px;
}
.item__40:nth-child(n+2) {
  margin-top: 40px;
}
.item__30:nth-child(n+2) {
  margin-top: 30px;
}
.item__24:nth-child(n+2) {
  margin-top: 24px;
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__5:nth-child(n+2) {
  margin-top: 5px;
}
.item__3:nth-child(n+2) {
  margin-top: 3px;
}

#top-bar-banner {
  background-color: #b1ffdb;
  height: 50px;
  background-size: auto 50px;
}

.top_bar_hasaki {
  background: #e5fbf1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.top_bar_hasaki__navitem, .top_bar_hasaki .uk-navbar-nav > li > a, .top_bar_hasaki .uk-navbar-item {
  min-height: 37px;
}
.top_bar_hasaki .uk-navbar-nav {
  gap: 10px;
}
.top_bar_hasaki .uk-navbar-nav > li > a {
  color: #326e51;
}
.top_bar_hasaki .uk-navbar-left {
  gap: 15px;
}
.top_bar_hasaki .uk-navbar-right {
  gap: 5px;
}
.top_bar_hasaki__btn {
  text-transform: inherit;
  color: #326e51 !important;
  border-color: #326e51 !important;
  line-height: calc(21px - 2px);
  padding: 0 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.top_bar_hasaki__btn:before {
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  margin-right: 6px;
}
.top_bar_hasaki__btn--taiapp:before {
  background-image: url("images/hsk/icon_phone.png");
  width: 7px;
  height: 13px;
}
.top_bar_hasaki__btn--tracuu:before {
  width: 13px;
  height: 13px;
  background-image: url("images/hsk/icon_tracuudh.svg");
}
.top_bar_hasaki__btn--maps:before {
  width: 9px;
  height: 11px;
  background-image: url("images/hsk/icon_maker_green.svg");
}

.header {
  background: #326e51;
  z-index: 982;
}
.header__pc .uk-logo img {
  width: 180px;
}
.header__pc .uk-navbar-left {
  gap: 20px;
}
.header__pc__boxLogin {
  padding: 15px 20px;
}
.header__pc__boxLogin:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header__pc__boxLogin__item:nth-child(n+2) {
  margin-top: 15px;
  padding-top: 15px;
  position: relative;
}
.header__pc__boxLogin__item:nth-child(n+2):before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  left: calc(0px - 20px);
  right: calc(0px - 20px);
  display: block;
}
.header__pc__boxLogin__btnLogin {
  background-color: #326e51;
  border-color: #326e51;
  color: #ffffff;
  text-transform: inherit;
  font-family: "Roboto Bold", sans-serif;
  border-radius: 3px;
}
.header__pc__boxLogin__btnLogin--send {
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  color: #ffffff !important;
}
.header__pc__boxLogin__btnLogin--send:hover {
  opacity: 0.91;
}
.header__pc__boxLogin__btnLogin--submit {
  background-color: #326e51 !important;
  border-color: #326e51 !important;
  color: #ffffff !important;
}
.header__pc__boxLogin__btnLogin--submit:hover {
  opacity: 0.91;
}
.header__pc__boxLogin__txt {
  color: #333333;
  line-height: 1.4;
}
.header__pc__boxLogin__txt a {
  color: #326e51;
}
.header__pc__txt {
  color: #ffffff;
}
.header__pc__txt a {
  color: #ffffff;
}
.header__pc__txt--acc:after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.header__pc__cart {
  position: relative;
}
.header__pc__cart span {
  top: 0;
  right: 5px;
  transform-origin: 100% 0;
  transform: translate(50%, -50%);
  position: absolute;
  border-radius: 10px;
  padding: 0 8px;
  font-weight: 700;
  height: 17px;
  line-height: 17px;
  background: #ff6600;
  color: #fff;
}
.header__pc__btnMenu {
  color: #ffffff;
  padding: 7px 7px;
  border: 1px solid #326e51;
  border-radius: 4px;
  width: 38px;
  display: inline-block;
  box-sizing: border-box;
}
.header__pc__btnMenu:hover {
  border-color: #ffffff;
}
.header__pc__btnMenu > * {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.header__pc__btnMenu > *:nth-child(n+2) {
  margin-top: 6px;
}
.header__pc__txtSearch {
  top: 5px;
}
.header__pc__txtSearch > * {
  color: #ffffff !important;
}
.header__pc__txtSearch > *:nth-child(n+2) {
  margin-left: 10px;
}
.header__pc__boxSuggest {
  padding: 10px;
  width: 100%;
}
.header__pc__boxSuggest__item:nth-child(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
}
.header__pc__boxSuggest__item:nth-child(n+2):before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 1px solid #eaeaea;
  left: calc(0px - 10px);
  right: calc(0px - 10px);
  display: block;
}
.header__pc__boxSuggest__campain {
  line-height: 28px;
  display: block;
  font-family: "Roboto Medium", sans-serif;
  color: #333333;
  text-decoration: none !important;
}
.header__pc__boxSuggest__campain:hover {
  color: #326e51;
}
.header__pc__boxSuggest__category {
  margin-left: calc(0px - 10px);
  margin-right: calc(0px - 10px);
}
.header__pc__boxSuggest__category__item {
  padding: 10px;
}
.header__pc__boxSuggest__category__txt {
  color: #333333;
  line-height: 1.1;
}
.header__pc__boxSuggest__category__item:hover .header__pc__boxSuggest__category__txt {
  color: #326e51 !important;
}
.header__pc__boxSearch {
  margin-top: 10px;
}
.header__pc__boxSearch__search {
  width: 415px;
}
.header__pc__boxSearch__input {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.header__pc__boxSearch__btnSubmit {
  position: relative;
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  border-radius: 0 4px 4px 0;
  padding: 0 20px;
}
.header__pc__boxSearch__btnSubmit svg {
  opacity: 0;
}
.header__pc__boxSearch__btnSubmit img {
  width: 24px;
}
.header__mobile__navitem, .header__mobile .uk-navbar-toggle, .header__mobile .uk-navbar-item {
  min-height: 49px;
}
.header__mobile__dc, .header__mobile__cart, .header__mobile__menu {
  padding: 0 10px;
}
.header__mobile__search {
  transition: all 0.2s ease-in-out;
  padding-top: 7px;
  padding-bottom: 10px;
}
.uk-sticky-below .header__mobile__search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 39px;
  left: calc(39px - 0px);
  z-index: 991;
  padding-bottom: 7px;
}
.header__mobile__search .uk-search-input {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background: #fff !important;
  border: 1px solid #eaeaea !important;
  border-radius: 3px;
  height: 37px;
  color: #ccc;
}
.header__mobile__menu {
  flex-direction: column;
}
.header__mobile__menu > * {
  width: 25px;
  height: 1px;
  background: #fff;
  display: block;
}
.header__mobile__menu > *:nth-child(n+2) {
  margin-top: 5px;
}
.header__mobile__cart {
  padding-right: 15px;
}
.header__mobile__cart__count {
  transform-origin: 100% 0;
  transform: translate(50%, -50%);
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background-color: #ff6600;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask_menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 981;
  left: 0;
  top: 0;
  display: none;
}

@keyframes progress_bar_fill {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.product__countdown {
  color: #ffffff;
  padding-left: 10px;
}
.product__countdown > * {
  color: #ffffff;
}
.product__boxProcess {
  height: 16px;
  background: #ffaf7e;
}
.product__boxProcess__fill {
  background-size: 40px 40px;
  background-color: #ff6600;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
  animation: progress_bar_fill 2s linear infinite;
}
.product__percent_deal {
  color: #ff6600;
}
.product__gift {
  color: #ff6600;
  max-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px dashed #ff6600;
  padding: 0px 10px;
  font-family: "Roboto Bold", sans-serif;
}
.product__line {
  position: relative;
}
.product__line:before {
  content: "";
  left: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  display: block;
  background: #777;
}
.product__star {
  width: 64px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
}
.product__star__txt {
  color: #777;
}
.product__star__numberStart {
  position: absolute;
  left: 0;
  top: 1px;
  height: 11px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -11px;
}
.product__star__startBackground {
  width: 100%;
  height: 11px;
  background-repeat: no-repeat;
}
.product__cartNumber {
  color: #777;
  padding-left: 14px;
  background-repeat: no-repeat;
  background-position: center left;
}
.product__item {
  background-color: #fff;
  border: 1px solid #fff;
  border-right: 1px solid #eaeaea;
}
.product__item:hover {
  border-color: #ff6600;
}
.product__name {
  color: rgb(51, 51, 51);
  line-height: 16px;
  max-height: 16px;
  overflow: hidden;
}
.product__item:hover .product__name {
  color: #326e51;
}
.product__brand {
  color: #326e51;
  font-family: "Roboto Bold", sans-serif;
  line-height: 1.3846153846;
  margin: 0;
}
.product__price {
  color: #ff6600;
  font-family: "Roboto Bold", sans-serif;
  line-height: 1.25;
}
.product__priceold {
  color: #666;
  line-height: 1.6666666667;
}
.product__percent {
  background: #ff5501;
  padding: 0px 5px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
}
.product__box1 {
  padding: 10px;
}
.product__box2 {
  padding: 5px 10px;
}

.home__bannerpc {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.home__bannerpc__slidenav {
  background: rgba(0, 0, 0, 0.3);
  padding-left: 3px;
  padding-right: 3px;
}
.home__bannerpc__slidenav svg {
  transform: scale(0.8);
}
.home__bannerpc__slidenav--next {
  border-radius: 3px 0 0 3px;
}
.home__bannerpc__slidenav--prev {
  border-radius: 0 3px 3px 0;
}
.home__bannerpc__category {
  padding: 10px 0;
}
.home__bannerpc__category__img {
  width: 50px;
  transition: transform 0.5s ease;
}
.home__bannerpc__category__box:hover .home__bannerpc__category__img {
  transform: scale(1.2);
}
.home__bannerpc__category__txt {
  color: #333333;
}
.home__bannerpc__category__box:hover .home__bannerpc__category__txt {
  color: #326e51;
}
.home__bannerpc__dotnav > li {
  padding-left: 6px;
}
.home__bannerpc__dotnav > li > a {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
  border: 1px solid #ccc;
  opacity: 0.8;
}
.home__bannerpc__dotnav > li.uk-active > a {
  background-color: #326e51 !important;
  border-color: transparent !important;
}
.home__block__flashsale__header {
  background: #ffd6ba;
  padding: 10px;
  color: #ff6600;
}
.home__block__flashsale__header__btnViewall {
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  color: #ffffff !important;
  line-height: 30px;
  border-radius: 3px;
  padding: 0 10px;
  text-transform: inherit;
}
.home__block__flashsale__header__countdown__number {
  line-height: 1.1;
  text-align: center;
  width: 30px;
  padding: 3px 0;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  background: #ff6600;
  font-family: "Roboto Bold", sans-serif;
}
.home__block__flashsale__header__column:not(.uk-first-column) {
  position: relative;
}
.home__block__flashsale__header__column:not(.uk-first-column):before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: #ff6600;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.home__block__flashsale__header__title {
  padding-left: 17px;
  position: relative;
  color: #ff6600;
  text-transform: uppercase;
  font-family: "Roboto Bold", sans-serif;
}
.home__block__flashsale__header__title:before {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 12px;
  height: 25px;
  display: block;
  background-image: url("images/hsk/flash_deal_title_orange.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.content_mobile {
  padding-top: 13px;
  background: #f1f1f5;
}
.content_mobile__bg {
  min-height: 94px;
  background-color: #326e51;
}
.content_mobile__boxslider .uk-slideshow-items {
  border-radius: 10px;
}
.content_mobile__category__txt {
  color: #333333;
  line-height: 1.2;
}
.content_mobile__category__img {
  height: 45px;
}

/*# sourceMappingURL=style.css.map */
