.home{
  &__bannerpc{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    &__slidenav{
      background: rgba(0,0,0,0.3);
      padding-left: 3px;
      padding-right: 3px;
      svg{
        transform: scale(.8);
      }
      &--next{
        border-radius: 3px 0 0 3px;
      }
      &--prev{
        border-radius: 0 3px 3px 0;
      }
    }
    &__category{
      padding: 10px 0;
      &__box{

      }
      &__img{
        width: 50px;
        transition: transform .5s ease;
        .home__bannerpc__category__box:hover &{
          transform: scale(1.2);
        }
      }
      &__txt{
        @extend .fz-13;
        color: #333333;
        .home__bannerpc__category__box:hover &{
          color: #{$primary-color};
        }
      }
    }
    &__dotnav{
      >li{
        padding-left: 6px;
        >a{
          width: 8px;
          height: 8px;
          background-color: #fff !important;
          border: 1px solid #ccc;
          opacity: .8;
        }
        &.uk-active{
          >a{
            background-color: #{$primary-color} !important;
            border-color: transparent !important;
          }
        }
      }
    }
  }
  &__block{
    &__flashsale{
      &__header{
        background: #ffd6ba;
        padding: 10px;
        color: #ff6600;
        &__btnViewall{
          background-color: #ff6600 !important;
          border-color: #ff6600 !important;
          color: #ffffff !important;
          @extend .fz-13;
          line-height: 30px;
          border-radius: 3px;
          padding: 0 10px;
          text-transform: inherit;
        }
        &__countdown{
          &__number{
            line-height: 1.1;
            text-align: center;
            width: 30px;
            padding: 3px 0;
            display: inline-block;
            border-radius: 3px;
            color: #fff;
            background: #ff6600;
            @extend .fz-12;
            font-family: $font-Roboto-Bold;
          }
          &__separator{
            @extend .fz-18;
          }
        }
        &__column{
          &:not(.uk-first-column){
            position: relative;
            &:before{
              content: "";
              display: block;
              width: 1px;
              height: 24px;
              background-color: #ff6600;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 10px;
            }
          }
        }
        &__txt{
          @extend .fz-13;
        }
        &__title{
          &:before{
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            width: 12px;
            height: 25px;
            display: block;
            background-image: url("images/hsk/flash_deal_title_orange.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
          }
          padding-left: 17px;
          position: relative;
          @extend .fz-18;
          color: #ff6600;
          text-transform: uppercase;
          font-family: $font-Roboto-Bold;
        }
      }
    }
  }
}
.content_mobile{
  padding-top: 13px;
  background: #f1f1f5;
  &__bg{
    min-height: 94px;
    background-color: #{$primary-color};
  }
  &__boxslider{
    .uk-slideshow-items{
      border-radius: 10px;
    }
  }
  &__category{
    &__txt{
      @extend .fz-13;
      color: #333333;
      line-height: 1.2;
    }
    &__img{
      height: 45px;
    }
  }
}