.home{
  &__bannerpc{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    &__slidenav{
      background: rgba(0,0,0,0.3);
      padding-left: 3px;
      padding-right: 3px;
      svg{
        transform: scale(.8);
      }
      &--next{
        border-radius: 3px 0 0 3px;
      }
      &--prev{
        border-radius: 0 3px 3px 0;
      }
    }
    &__category{
      padding: 10px 0;
      &__box{

      }
      &__img{
        width: 50px;
        transition: transform .5s ease;
        .home__bannerpc__category__box:hover &{
          transform: scale(1.2);
        }
      }
      &__txt{
        @extend .fz-13;
        color: #333333;
        .home__bannerpc__category__box:hover &{
          color: #{$primary-color};
        }
      }
    }
    &__dotnav{
      >li{
        padding-left: 6px;
        >a{
          width: 8px;
          height: 8px;
          background-color: #fff !important;
          border: 1px solid #ccc;
          opacity: .8;
        }
        &.uk-active{
          >a{
            background-color: #{$primary-color} !important;
            border-color: transparent !important;
          }
        }
      }
    }
  }
}
.content_mobile{
  padding-top: 13px;
  background: #f1f1f5;
  &__bg{
    min-height: 94px;
    background-color: #{$primary-color};
  }
  &__boxslider{
    .uk-slideshow-items{
      border-radius: 10px;
    }
  }
}