#top-bar-banner{
  background-color: #b1ffdb;
  height: 50px;
  background-size: auto 50px;
}
.top_bar_hasaki{
  background: #e5fbf1;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  &__navitem{
    min-height: 37px;
  }
  .uk-navbar-item{
    @extend .top_bar_hasaki__navitem;
  }
  .uk-navbar-nav{
    gap: 10px;
    >li{
      >a{
        @extend .top_bar_hasaki__navitem;
        @extend .fz-13;
        color: #{$primary-color};
      }
    }
  }
  .uk-navbar-left{
    gap: 15px;
  }
  .uk-navbar-right{
    gap: 5px;
  }
  &__btn{
    text-transform: inherit;
    color: #{$primary-color} !important;
    border-color: #{$primary-color} !important;
    @extend .fz-12;
    $x:21px;
    line-height: calc(#{$x} - 2px);
    padding: 0 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    &:before{
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-flex;
      margin-right: 6px;
    }
    &--taiapp{
      &:before{
        background-image: url("images/hsk/icon_phone.png");
        width: 7px;
        height: 13px;
      }
    }
    &--tracuu{
      &:before{
        width: 13px;
        height: 13px;
        background-image: url("images/hsk/icon_tracuudh.svg");
      }
    }
    &--maps{
      &:before{
        width: 9px;
        height: 11px;
        background-image: url("images/hsk/icon_maker_green.svg");
      }
    }
  }
}
.header{
  background: #{$primary-color};
  &__pc{
    .uk-logo{
      img{
        width: 180px;
      }
    }
    .uk-navbar-left{
      gap: 20px;
    }
    &__boxLogin{
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid #ffffff;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
      $x:20px;
      padding: 15px #{$x};
      &__item{
        &:nth-child(n+2){
          $y:15px;
          margin-top: #{$y};
          padding-top: #{$y};
          position: relative;
          &:before{
            content: "";
            position: absolute;
            top: 0;
            border-bottom: 1px solid #dbdbdb;
            left: calc(0px - #{$x});
            right: calc(0px - #{$x});
            display: block;
          }
        }
      }
      &__btnLogin{
        background-color: #{$primary-color};
        border-color: #{$primary-color};
        color: #ffffff;
        text-transform: inherit;
        @extend .fz-15;
        font-family: $font-Roboto-Bold;
        border-radius: 3px;
        &:hover{

        }
        &--send{
          background-color: #{$secondary-color} !important;
          border-color: #{$secondary-color} !important;
          color: #ffffff !important;
          &:hover{
            opacity: .91;
          }
        }
        &--submit{
          background-color: #{$primary-color} !important;
          border-color: #{$primary-color} !important;
          color: #ffffff !important;
          &:hover{
            opacity: .91;
          }
        }
      }
      &__txt{
        color: #333333;
        @extend .fz-13;
        line-height: 1.4;
        a{
          color: #{$primary-color};
        }
        &--title{
          @extend .fz-15;
        }
      }
    }
    &__txt{
      @extend .fz-13;
      color: #ffffff;
      a{
        color: #ffffff;
      }
      &--acc{
        &:after{
          content: "";
          width: 20px;
          height: 20px;
          display: inline-flex;
          background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &__cart{
      position: relative;
      span{
        top: 0;
        right: 5px;
        transform-origin: 100% 0;
        transform: translate(50%,-50%);
        position: absolute;
        border-radius: 10px;
        @extend .fz-13;
        padding: 0 8px;
        font-weight: 700;
        height: 17px;
        line-height: 17px;
        background: #{$secondary-color};
        color: #fff;
      }
    }
    &__btnMenu{
      color: #ffffff;
      padding: 7px 7px;
      border: 1px solid #{$primary-color};
      border-radius: 4px;
      width: 38px;
      display: inline-block;
      box-sizing: border-box;
      &:hover{
        border-color: #ffffff;
      }
      >*{
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        &:nth-child(n+2){
          margin-top: 6px;
        }
      }
    }
    &__txtSearch{
      top: 5px;
      >*{
        color: #ffffff !important;
        @extend .fz-12;
        &:nth-child(n+2){
          margin-left: 10px;
        }
      }
    }
    &__boxSearch{
      margin-top: 10px;
      &__search{
        width: 415px;
      }
      &__input{
        background-color: #ffffff !important;
        border-color: #ffffff !important;
        @extend .fz-12;
      }
      &__btnSubmit{
        position: relative;
        background-color: #{$secondary-color} !important;
        border-color: #{$secondary-color} !important;
        $x:4px;
        border-radius: 0 #{$x} #{$x} 0;
        padding: 0 20px;
        svg{
          opacity: 0;
        }
        img{
          width: 24px;
        }
      }
    }
  }
  &__mobile{

  }
}