.modal{
  &__acc{
    .uk-modal-dialog{

    }
    &__dialog{
      width: 420px;
      #modal-close-outside-forgotpass &{
        width: 560px;
      }
    }
    $x:20px;
    &__body{
      padding: 15px #{$x};
    }
    &__close{
      @include media-breakpoint-up('m'){
        transform: translate(50%,-50%);
        background: #666;
        width: 36px;
        height: 36px;
      }
    }
    &__btnOtp{
      text-transform: inherit;
      background-color: #{$secondary-color};
      @extend .fz-13;
    }
    &__checkbox{
      &:checked{
        background-color: #{$primary-color};
      }
    }
    &__radio{
      &:checked{
        background-color: #{$primary-color};
      }
    }
    &__input{
      @extend .fz-13;
      color: #555;
      border-color: #c2c2c2;
      &:focus{
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      &--code{
        padding-right: calc(74px + 8px) !important;
      }
    }
    &__select{
      @extend .modal__acc__input;
    }
    &__item{
      &:nth-child(n+2){
        $y:15px;
        margin-top: #{$y};
        padding-top: #{$y};
        position: relative;
        &:before{
          content: "";
          position: absolute;
          top: 0;
          border-bottom: 1px solid #dbdbdb;
          left: calc(0px - #{$x});
          right: calc(0px - #{$x});
          display: block;
        }
      }
    }
  }
}